    .papa{
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        justify-content: space-between; 
    }
    .container{
        text-align: center;
        justify-content: end;
        background-color: #3F1668;
        border-block-color: #A07B8C;
    }
    .container2{
        text-align: center;
    }
    img{
        padding: 16px;
        margin: 10px;
    }
       
    h3{
        margin: 12px;
        width: 15px;
        position: center;
        color: #fff;
    } 
    
    a{
        text-decoration: none;
        text-align: center;
        color: #fff;
    }
    label{
        color: #fff;
    }

